<div class="jumbotron">
  <h2 class="text-center">Chat with <%= @receiver.name %> for the post <%= @post.ad_title %></h1>
  <div class="well" id="chatbox">
    <% @messages.each do |message| %>
      <%= render 'message', message: message %>
    <% end %>
  </div>

  <%= form_with model: @message do |f| %>
    <%= render "shared/error_messages", object: @message %>

    <div class="input-group mt-3">
      <%= f.text_field :body, placeholder: "Type a message", autofocus: true, class: "form-control", id: "body_input"%>
      
      <%= f.hidden_field :receiver_id, value: params[:receiver_id] %>
      <%= f.hidden_field :post_id, value: params[:post_id] %>
      
      <div class="input-group-append">
        <%= f.submit "Send", class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %> 
<div>

