<% provide(:title, "Log In") %>

<div class="row justify-content-center">
  <div class="col-sm-12">
    <h3 class="text-center">Log in</h3>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-7 col-xl-6">
    <div class="card">
      <div class="card-body">
        
        <%= form_for :session, url: login_path do |f| %>
          <div class="form-group">
            <%= f.label :email, "Email Address" %>
            <%= f.email_field :email, class: "form-control", autofocus: true, required: true, placeholder: "Email Address", maxlength: 100 %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", required: true, placeholder: "Password", minlength: 6 %>
          </div>

          <br>

          <%= f.submit "Log in", class: "btn btn-primary", data: { disable_with: "Logging..." } %>
          
          <span style="float:right;" class="btn btn-md btn-primary">
            <%= link_to "Signup", signup_path, style: "color: #FFFFFF;" %>
          </span>
          <span style="float:right; padding-right:10px; padding-top:5px">New User?</span>

          <span>
            <%= link_to "auth/facebook" do %><%= image_tag('facebook.png', :size => "50x40") %><% end %>
          </span
        <% end %>
        
        
      </div>
    </div>
  </div>
</div>