
Hello <%= @user.name %>
    
Your post: <%= @post.ad_title %> has got a buying request
    
<%= @buyer.buyer_name %> from <%= @buyer.location %> wants to buy <%= @post.ad_title %>
You can contact the buyer via <%= @buyer.email %>
    
Please check the Buyers list in your post </p>

Thanks and Regards,
Sayan Sinha,
Sayan Online Marketplace