<div class="front-page-carousal cntainer-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("carousal/cover", class: "d-block w-100", size: "770x430" )%>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/blank", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="ad">Buy and Sell products<br>of<br>different categories</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/real estate", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories">Real Estate</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/cars", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories">Cars</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/bikes", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories">Bikes</h1>
            </div>
          </div>

          <div class="carousel-item ">
            <%= image_tag("carousal/electronics", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories">Electronics</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/furniture", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories">Furniture</h1>
            </div>
          </div>
          
          <div class="carousel-item">
            <%= image_tag("carousal/books", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories">Books</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/sport", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories">Sports Equipments</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/fashion", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories">Fashion</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/kitchen", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories2">Kitchen Equipments</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/blank", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="ad">We also provide <br> various services<br> at your home</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/hair", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories2">Hair cutting</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/house_clean", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories">House Cleaning</h1>
            </div>
          </div>

          <div class="carousel-item">
            <%= image_tag("carousal/theme 2", class: "d-block w-100", size: "770x430" )%>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="categories2">Enjoy our platform</h1>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>