<div class="col-sm-12 col-md-8 col-lg-7 col-xl-6">
  <div class="card">
    <div class="card-body">
      <%= form_for [:admin, @category], html: { multipart: true } do |f| %>
        <%= render "shared/error_messages", object: @category %>

        <div class="form-group">
          <%= f.label :name , "Category Name" %>
          <%= f.text_field :name, class: "form-control", autofocus: true, required: true, autocomplete: :off, placeholder: "e.g. Bikes, Books etc.", maxlength: 255 %>
        </div>

        
        <div class="form-row">
          <div class="col-xs-12 text-right order-1 order-sm-2 col-sm-12">
            <%= link_to "Cancel", admin_categories_path, class: "btn btn-light btn-xs-block" %>
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-xs-block", data: { disable_with: "Saving..." } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>