<div class="col-sm-12 col-md-10 col-lg-8 col-xl-8">
  <div class="card">
    <div class="card-body">
      <%= form_for @post, html: { multipart: true } do |f| %>
        <%= render "shared/error_messages", object: @post %>

        <div class="form-row">
          <div class="form-group col-sm-12 col-md-6">
            <%= f.label :ad_title, "Ad Title" %>
            <%= f.text_field :ad_title, class: "form-control", autofocus: true, required: true, autocomplete: :off, placeholder: "Maximum 16 characters", maxlength: 255 %>
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <%= f.label "category" %>
            <%= f.collection_select  :category_id, Category.all, :id, :name, { prompt: "-- Select Category --" },{class: "form-control"} %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12 col-md-12">
            <%= f.label :detailed_ad_title, "Detailed Ad Title" %>
            <%= f.text_field :detailed_ad_title, rows: "4", class: "form-control", required: true, autocomplete: :off, placeholder: "If no extra details, retype the Ad title", maxlength: 255 %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12 col-md-12">
            <%= f.label :ad_description, "Ad Description" %>
            <%= f.text_area :ad_description, rows: "4", class: "form-control", required: true, autocomplete: :off, placeholder: "Description about the advertisement", maxlength: 255 %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12 col-md-6">
            <%= f.label :user_name, "Username" %>
            <%= f.text_field :user_name, class: "form-control", required: true, autocomplete: :off, placeholder: "Will display with the advertisement", maxlength: 255 %>
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <%= f.fields_for :post_attachments do |p| %>
              <div class="field">
                <%= p.label :photo %><br>
                <%= p.file_field :photo, :multiple => true, name: "post_attachments[photo][]" %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12 col-md-6">
            <%= f.label :phone, "Phone number" %>
            <%= f.text_field :phone, class: "form-control", required: true, autocomplete: :off, placeholder: "(country code)-(10 digit mobile number)", maxlength: 255 %>
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <%= f.label :city, "City" %>
            <%= f.text_field :city, class: "form-control", required: true, autocomplete: :off, placeholder: "City", maxlength: 255 %>
          </div>
        </div>

        <div class="form-row">

          <div class="col-xs-12 text-right order-1 order-sm-2 col-sm-12">
            <%= link_to "Cancel", posts_path, class: "btn btn-light btn-xs-block" %>
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-xs-block", data: { disable_with: "Saving..." } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>