<div class="rating" id="star_rating">
  <% if review.rating == "1" %>
    <label for="star5" id="star_5" class="check5 not_activated">5 Stars</label>
    <%= radio_button :rating, 5, id: "star5" %>      
    <label for="star4" id="star_4" class="check4 not_activated">4 Stars</label>
    <%= radio_button :rating, 4, id: "star4" %>                           
    <label for="star3" id="star_3" class="check3 not_activated">3 Stars</label>
    <%= radio_button :rating, 3, id: "star3" %>                          
    <label for="star2" id="star_2" class="check2 not_activated">2 Stars</label>
    <%= radio_button :rating, 2, id: "star2" %>                         
    <label for="star1" id="star_1" class="activated">1 Stars</label>
    <%= radio_button :rating, 1, id: "star1" %>
  <% elsif review.rating == "2" %>
    <label for="star5" id="star_5" class="check5 not_activated">5 Stars</label>
    <%= radio_button :rating, 5, id: "star5" %>     
    <label for="star4" id="star_4" class="check4 not_activated">4 Stars</label>
    <%= radio_button :rating, 4, id: "star4" %>                          
    <label for="star3" id="star_3" class="check3 not_activated">3 Stars</label>
    <%= radio_button :rating, 3, id: "star3" %>                         
    <label for="star2" id="star_2" class="activated">2 Stars</label>
    <%= radio_button :rating, 2, id: "star2" %>                        
    <label for="star1" id="star_1" class="activated">1 Stars</label>
    <%= radio_button :rating, 1, id: "star1" %>
  <% elsif review.rating == "3" %>
    <label for="star5" id="star_5" class="check5 not_activated">5 Stars</label>
    <%= radio_button :rating, 5, id: "star5" %>    
    <label for="star4" id="star_4" class="check4 not_activated">4 Stars</label>
    <%= radio_button :rating, 4, id: "star4" %>                        
    <label for="star3" id="star_3" class="activated">3 Stars</label>
    <%= radio_button :rating, 3, id: "star3" %>                       
    <label for="star2" id="star_2" class="activated">2 Stars</label>
    <%= radio_button :rating, 2, id: "star2" %>                      
    <label for="star1" id="star_1" class="activated">1 Stars</label>
    <%= radio_button :rating, 1, id: "star1" %>
  <% elsif review.rating == "4" %>
    <label for="star5" id="star_5" class="check5 not_activated">5 Stars</label>
    <%= radio_button :rating, 5, id: "star5" %>    
    <label for="star4" id="star_4" class="activated">4 Stars</label>
    <%= radio_button :rating, 4, id: "star4" %>                       
    <label for="star3" id="star_3" class="activated">3 Stars</label>
    <%= radio_button :rating, 3, id: "star3" %>                     
    <label for="star2" id="star_2" class="activated">2 Stars</label>
    <%= radio_button :rating, 2, id: "star2" %>                     
    <label for="star1" id="star_1" class="activated">1 Stars</label>
    <%= radio_button :rating, 1, id: "star1" %>
  <% elsif review.rating == "5" %>
    <label for="star5" id="star_5" class="activated">5 Stars</label>
    <%= radio_button :rating, 5, id: "star5" %>   
    <label for="star4" id="star_4" class="activated">4 Stars</label>
    <%= radio_button :rating, 4, :id => "star4" %>                         
    <label for="star3" id="star_3" class="activated">3 Stars</label>
    <%= radio_button :rating, 3, id: "star3" %>                        
    <label for="star2" id="star_2" class="activated">2 Stars</label>
    <%= radio_button :rating, 2, id: "star2" %>                      
    <label for="star1" id="star_1" class="activated">1 Stars</label>
    <%= radio_button :rating, 1, id: "star1" %>
  <% end %>
</div>