<div class="rating" id="star_rating">
  <% if r.rating == "1" %>
    <label for="star5" id="star_5" class="check5">5 Stars</label>
    <%= radio_button :rating, 5, id: "star5" %>
            
    <label for="star4" id="star_4" class="check4">4 Stars</label>
    <%= radio_button :rating, 4, id: "star4" %> 
                                
    <label for="star3" id="star_3" class="check3">3 Stars</label>
    <%= radio_button :rating, 3, id: "star3" %>
                                
    <label for="star2" id="star_2" class="check2">2 Stars</label>
    <%= radio_button :rating, 2, id: "star2" %> 
                              
    <label for="star1" id="star_1" class="activated">1 Stars</label>
    <%= radio_button :rating, 1, id: "star1" %>
  
  <% elsif r.rating == "2" %>
    <label for="star5" id="star_5" class="check5">5 Stars</label>
    <%= radio_button :rating, 5, id: "star5" %>
            
    <label for="star4" id="star_4" class="check4">4 Stars</label>
    <%= radio_button :rating, 4, id: "star4" %> 
                                
    <label for="star3" id="star_3" class="check3">3 Stars</label>
    <%= radio_button :rating, 3, id: "star3" %>
                                
    <label for="star2" id="star_2" class="activated">2 Stars</label>
    <%= radio_button :rating, 2, id: "star2" %> 
                              
    <label for="star1" id="star_1" class="activated">1 Stars</label>
    <%= radio_button :rating, 1, id: "star1" %>

  <% elsif r.rating == "3" %>
    <label for="star5" id="star_5" class="check5">5 Stars</label>
    <%= radio_button :rating, 5, id: "star5" %>
            
    <label for="star4" id="star_4" class="check4">4 Stars</label>
    <%= radio_button :rating, 4, id: "star4" %> 
                                
    <label for="star3" id="star_3" class="activated">3 Stars</label>
    <%= radio_button :rating, 3, id: "star3" %>
                                
    <label for="star2" id="star_2" class="activated">2 Stars</label>
    <%= radio_button :rating, 2, id: "star2" %> 
                              
    <label for="star1" id="star_1" class="activated">1 Stars</label>
    <%= radio_button :rating, 1, id: "star1" %>

  <% elsif r.rating == "4" %>
    <label for="star5" id="star_5" class="check5">5 Stars</label>
    <%= radio_button :rating, 5, id: "star5" %>
            
    <label for="star4" id="star_4" class="activated">4 Stars</label>
    <%= radio_button :rating, 4, id: "star4" %> 
                                
    <label for="star3" id="star_3" class="activated">3 Stars</label>
    <%= radio_button :rating, 3, id: "star3" %>
                                
    <label for="star2" id="star_2" class="activated">2 Stars</label>
    <%= radio_button :rating, 2, id: "star2" %> 
                              
    <label for="star1" id="star_1" class="activated">1 Stars</label>
    <%= radio_button :rating, 1, id: "star1" %>

  <% elsif r.rating == "5" %>
    <label for="star5" id="star_5" class="activated">5 Stars</label>
    <%= radio_button :rating, 5, id: "star5" %>
            
    <label for="star4" id="star_4" class="activated">4 Stars</label>
    <%= radio_button :rating, 4, :id => "star4" %> 
                                
    <label for="star3" id="star_3" class="activated">3 Stars</label>
    <%= radio_button :rating, 3, id: "star3" %>
                                
    <label for="star2" id="star_2" class="activated">2 Stars</label>
    <%= radio_button :rating, 2, id: "star2" %> 
                              
    <label for="star1" id="star_1" class="activated">1 Stars</label>
    <%= radio_button :rating, 1, id: "star1" %>
  <% end %>
</div>