<% if params[:category_id] || params[:ad_title] || params[:location]%>

    <% if @category.posts.present? %>

        <% if !params[:ad_title] %>

            <% if !params[:location] %>
                <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
                <%= render "layouts/form" %>
            <% else %>

                <% if @post_city.present? %>
                    <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
                    <%= render "layouts/form" %>
                <% else %>
                    <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
                <% end %>

            <% end %>

        <% elsif params[:ad_title] %>

            <% if !params[:location] %>
                <% if @post_ad_title.present? %>
                    <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
                    <%= render "layouts/form" %>
                <% else %>
                    <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
                <% end %>

            <% else %>

                <% if @post_city.present? %>
                    <% if @post_ad_title.present? %>
                        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
                        <%= render "layouts/form" %>
                    <% else %>
                        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
                    <% end %>
                <% else %>
                    <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
                <% end %>

            <% end %>

        <% elsif params[:location] %>

            <% if !params[:ad_title] %>
                <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
                <%= render "layouts/form" %>
            <% else %>

                <% if @post_ad_title.present? %>
                    <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
                    <%= render "layouts/form" %>
                <% else %>
                    <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
                <% end %>

            <% end %>

        <% end %>

    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>

    

<% elsif params[:ad_title] %>
    <% if @post_ad_title.present? %>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>

<% elsif params[:location] %>
    <% if @post_city.present? %>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>

<% elsif params[:ad_title] && params[:location] %>
    <% if @post_ad_title.present? && @post_city.present?%>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>
    
<% elsif (params[:ad_title] || params[:location]) && params[:category_id] %>
    <% if (@post_ad_title.present? || @post_city.present?) && @category.posts.present? %>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>
    
<% else %>
    <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
    <%= render "layouts/form" %>                 
<% end %>