<% provide(:title, "Advertisements") %>

<div class="jumbotron pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="form-inline">
                    <%= form_tag(posts_path, method: "get") do %>

                        <% if params[:category_id] %>
                            <%= hidden_field_tag :id, params[:id] %>
                        <% end %>

                        <% if params[:location].present? %>
                            <%= hidden_field_tag :location, params[:location] %>
                        <% end %>

                        <%= text_field_tag :ad_title, params[:ad_title], placeholder: "Search ad by name" %>
                        <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
                    <% end %>
                </div>
            </div>

            <div class="col-4">
                <div class="form-inline">
                    <%= form_tag(posts_path, method: "get") do %>

                        <% if params[:location].present? %>
                            <%= hidden_field_tag :location, params[:location] %>
                        <% end %>

                        <% if params[:ad_title].present? %>
                            <%= hidden_field_tag :ad_title, params[:ad_title] %>
                        <% end %>
                        
                        <%= collection_select  :category_id, :id, Category.all, :id, :name,  { prompt: "Search ad by category" }, { class: "form-control" } %>
                        <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
                        
                    <% end %>
                </div>
            </div>


            <div class="col-4">
                <div class="form-inline">
                    <%= form_tag(posts_path, method: "get") do %>

                        <% if params[:category_id] %>
                        <%= hidden_field_tag :id, params[:id] %>
                        <% end %>

                        <% if params[:ad_title].present? %>
                            <%= hidden_field_tag :ad_title, params[:ad_title] %>
                        <% end %>
                        
                        <%= text_field_tag :location, params[:location], placeholder: "Search ad by location" %>
                        <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="jumbotron pt-4 pb-4 mt-1">
    
</div>




<% if params[:category_id] %>
    <% if @category.posts.present? %>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>

<% elsif params[:ad_title] %>
    <% if @post_ad_title %>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>

<% elsif params[:location] %>
    <% if @post_city %>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>

<% else %>
    <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
    <%= render "layouts/form" %>                 
<% end %>