<% provide(:title, "Advertisements") %>

<div class="jumbotron pt-4 pb-4">
    <div class="container">
        <div class="row">

            <div class="col-4">
                <div class="form-inline">
                    <%= form_tag(posts_path, method: "get") do %>

                        <% if params[:category_id].present? %>
                            <%= hidden_field_tag :category_id, params[:category_id] %>
                        <% end %>

                        <% if params[:location].present? %>
                            <%= hidden_field_tag :location, params[:location] %>
                        <% end %>

                        <%= text_field_tag :ad_title, params[:ad_title], placeholder: "Search ad by name" %>
                        <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
                    <% end %>
                </div>
            </div>


        <div class="col-4 text-center">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a><%= link_to "All Categories", posts_path , class: "dropdown-item", remote: true%></a>
                    <% Category.all.each do |category| %>
                        <a><%= link_to category.name, posts_path(:category_id => category.id) , class: "dropdown-item", remote: true %></a>
                    <% end %>
                </div>
            </div>
        </div>

        <script>
            $(".dropdown-menu a").click(function(){
                console.log($(this).text());
                $(".btn").html($(this).text());
            });
        </script> 

            <div class="col-4">
                <div class="form-inline">
                    <%= form_tag(posts_path, method: "get") do %>

                        <% if params[:category_id].present? %>
                            <%= hidden_field_tag :category_id, params[:category_id] %>
                        <% end %>

                        <% if params[:ad_title].present? %>
                            <%= hidden_field_tag :ad_title, params[:ad_title] %>
                        <% end %>
                        
                        <%= text_field_tag :location, params[:location], placeholder: "Search ad by location" %>
                        <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>    
</div>





<% if params[:category_id] %>
    <% if @category.posts.present? %>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No advertisements in this category</h2>
    <% end %>

<% elsif params[:ad_title] %>
    <% if @post_ad_title %>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No advertisements with this name</h2>
    <% end %>

<% elsif params[:location] %>
    <% if @post_city %>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No advertisements from this location</h2>
    <% end %>

<% else %>
    <%= render "layouts/form" %>                 
<% end %>