<div class="jumbotron pt-4 pb-4">
    <div class="container">
        <div class="row">

            <div class="col-4">
                <div class="form-inline">
                    <%= form_tag(posts_path, method: "get") do %>
                        <%= text_field_tag :ad_title, params[:ad_title], placeholder: "Search ad by name" %>
                        <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
                    <% end %>
                </div>
            </div>



            <div class="col-4 text-center">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to "All Categories", posts_path , class: "dropdown-item"%>
                        <% Category.all.each do |category| %>
                            <%= link_to category.name, posts_path(:category_id => category.id) , class: "dropdown-item"%>
                        <% end %>
                    </div>
                </div>
            </div>
  

            <div class="col-4">
                <div class="form-inline">
                    <%= form_tag(posts_path, method: "get") do %>
                        <%= text_field_tag :location, params[:location], placeholder: "Search ad by location" %>
                        <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>    
</div>





<% if params[:location] %>
    <%= render "layouts/form" %>
<% else %>
    <h2 class="text-center text-muted"> No posts in this category</h2>
<% end %>