<% provide(:title, "Advertisements") %>

<div class="sticky-top">
  <div class="jumbotron pt-4 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="form-inline">
            <%= form_tag(posts_path, method: "get") do %>

              <% if params[:category_id].present? %>
                <% params[:category_id].each do |id,value| %>
                  <%= hidden_field_tag "category_id[#{ id }]",value %> 
                <% end %>
              <% end %>

              <% if params[:location].present? %>
                <%= hidden_field_tag :location, params[:location] %>
              <% end %>
              
              <% if params[:ad_title].present? %>
                <%= text_field_tag :ad_title, params[:ad_title], placeholder: "Search ad by name" %>
              <% else %>
                <%= text_field_tag :ad_title, params[:ad_title], required: true, placeholder: "Search ad by name" %>
              <% end %>
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>

        <div class="col-4">
          <div class="form-inline">
            <%= form_tag(posts_path, method: "get") do %>

              <% if params[:location].present? %>
                <%= hidden_field_tag :location, params[:location] %>
              <% end %>

              <% if params[:ad_title].present? %>
                <%= hidden_field_tag :ad_title, params[:ad_title] %>
              <% end %>

              <%= collection_select  :category_id, :id, Category.all, :id, :name, { selected: "", disabled: "", prompt: "Select ad by category" }, { class: "form-control" } %>
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
                
            <% end %>
          </div>
        </div>


        <div class="col-4">
          <div class="form-inline">
            <%= form_tag(posts_path, method: "get") do %>

              <% if params[:category_id].present? %>
                <% params[:category_id].each do |id,value| %>
                  <%= hidden_field_tag "category_id[#{id}]",value %> 
                <% end %>
              <% end %>

              <% if params[:ad_title].present? %>
                <%= hidden_field_tag :ad_title, params[:ad_title] %>
              <% end %>
              
              <% if params[:location].present? %>
                <%= text_field_tag :location, params[:location], placeholder: "Search ad by location" %>
              <% else %>
                <%= text_field_tag :location, params[:location], required: true, placeholder: "Search ad by location" %>
              <% end %>
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>


<% if params[:ad_title]  || params[:category_id] || params[:location]%>
  <div class="jumbotron pt-4 pb-3 mt-1">
    <div class="container">
      <div class="row justify-content-center">

        <% if params[:ad_title] %>
          <% if params[:category_id] %>
            <% if params[:location] %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_params" %>
            <% else %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_all" %>
            <% end %>

          <% elsif params[:location] %>
            <% if params[:category_id] %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_params" %>
            <% else %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_all" %>
              <%= render "ad_location_params" %>
            <% end %>

          <% else %>
            <%= render "ad_title_params" %>
            <%= render "ad_category_all" %>
            <%= render "ad_location_all" %>

          <% end %>
      

        <% elsif params[:category_id] %>
          <% if params[:ad_title] %>
            <% if params[:location] %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_params" %>
            <% else %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_all" %>
            <% end %>

          <% elsif params[:location] %>
            <% if params[:ad_title] %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_params" %>
            <% else %>
              <%= render "ad_title_all" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_params" %>
            <% end %>

          <% else %>
            <%= render "ad_title_all" %>
            <%= render "ad_category_params" %>
            <%= render "ad_location_all" %>

          <% end %>

        <% elsif params[:location] %>
          <% if params[:ad_title] %>
              <% if params[:category_id] %>
                  <%= render "ad_title_params" %>
                  <%= render "ad_category_params" %>
                  <%= render "ad_location_params" %>
              <% else %>
                  <%= render "ad_title_params" %>
                  <%= render "ad_category_all" %>
                  <%= render "ad_location_params" %>
              <% end %>

          <% elsif params[:category_id] %>
              <% if params[:ad_title] %>
                  <%= render "ad_title_params" %>
                  <%= render "ad_category_params" %>
                  <%= render "ad_location_params" %>
              <% else %>
                  <%= render "ad_title_all" %>
                  <%= render "ad_category_params" %>
                  <%= render "ad_location_params" %>
              <% end %>

          <% else %>
              <%= render "ad_title_all" %>
              <%= render "ad_category_all" %>
              <%= render "ad_location_params" %>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "render_posts" %>
