<% if params[:user_id].present? %>
  <% if params[:decision] == "true" %>
    <% provide(:title, "Your Advertisements") %>
  <% else %>
    <% provide(:title, "Other Advertisements") %>
  <% end %>
<% else %>
  <% if logged_in?%>
    <% provide(:title, "All Advertisements") %> 
  <% else %>
    <% provide(:title, "Advertisements") %>
  <% end %>
<% end %>   

<div class="sticky-top">
  <div class="jumbotron pt-4 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="form-inline">
            <%= form_tag(posts_path, method: "get") do %>
              <% if params[:user_id].present? && params[:decision].present? %>
                <%= hidden_field_tag :user_id, params[:user_id] %>
                <%= hidden_field_tag :decision, params[:decision] %>
              <% end %>
              <% if params[:category_id].present? %>
                <% params[:category_id].each do |id,value| %>
                  <%= hidden_field_tag "category_id[#{ id }]",value %> 
                <% end %>
              <% end %>
              <% if params[:location].present? %>
                <%= hidden_field_tag :location, params[:location] %>
              <% end %>
              <% if params[:ad_title].present? %>
                <%= text_field_tag :ad_title, params[:ad_title], placeholder: "Search ad by name" %>
              <% else %>
                <%= text_field_tag :ad_title, params[:ad_title], required: true, placeholder: "Search ad by name" %>
              <% end %>
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <div class="col-4">
          <div class="form-inline justify-content-center">
            <%= form_tag(posts_path, method: "get") do %>
              <% if params[:user_id].present? && params[:decision].present? %>
                <%= hidden_field_tag :user_id, params[:user_id] %>
                <%= hidden_field_tag :decision, params[:decision] %>
              <% end %>
              <% if params[:location].present? %>
                <%= hidden_field_tag :location, params[:location] %>
              <% end %>
              <% if params[:ad_title].present? %>
                <%= hidden_field_tag :ad_title, params[:ad_title] %>
              <% end %>
              <% if params[:category_id].present? %>
                <%= collection_select :category_id, :id, Category.all, :id, :name, { selected: params[:category_id][:id], prompt: "Select ad by category" } , { class: "form-control" } %> 
              <% else %>
                <%= collection_select :category_id, :id, Category.all, :id, :name, { selected: "" , disabled: "", prompt: "Select ad by category" } , { class: "form-control" } %>
              <% end %>
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %> 
            <% end %>
          </div>
        </div>
        <div class="col-4">
          <div class="form-inline">
            <%= form_tag(posts_path, method: "get") do %>
              <% if params[:user_id].present? && params[:decision].present? %>
                <%= hidden_field_tag :user_id, params[:user_id] %>
                <%= hidden_field_tag :decision, params[:decision] %>
              <% end %>
              <% if params[:category_id].present? %>
                <% params[:category_id].each do |id,value| %>
                  <%= hidden_field_tag "category_id[#{ id }]",value %> 
                <% end %>
              <% end %>
              <% if params[:ad_title].present? %>
                <%= hidden_field_tag :ad_title, params[:ad_title] %>
              <% end %>
              <% if params[:location].present? %>
                <%= text_field_tag :location, params[:location], placeholder: "Search ad by location" %>
              <% else %>
                <%= text_field_tag :location, params[:location], required: true, placeholder: "Search ad by location" %>
              <% end %>
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>

<% if params[:ad_title]  || params[:category_id] || params[:location]%>
  <div class="jumbotron pt-4 pb-3 mt-1">
    <div class="container">
      <div class="row justify-content-center">
        <% if params[:category_id] %>
          <% if params[:ad_title].present? %>
            <% if params[:location].present? %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_params" %>
            <% else %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_all" %>
            <% end %>
          <% else %>
            <% if params[:location].present? %>
              <%= render "ad_title_all" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_params" %>
            <% else %>
              <%= render "ad_title_all" %>
              <%= render "ad_category_params" %>
              <%= render "ad_location_all" %>
            <% end %>
          <% end %>
        <% elsif !params[:category_id] %>
          <% if params[:ad_title].present? %>
            <% if params[:location].present? %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_all" %>
              <%= render "ad_location_params" %>
            <% else %>
              <%= render "ad_title_params" %>
              <%= render "ad_category_all" %>
              <%= render "ad_location_all" %>
            <% end %>
          <% else %>
            <% if params[:location].present? %>
              <%= render "ad_title_all" %>
              <%= render "ad_category_all" %>
              <%= render "ad_location_params" %>
            <% else %>
              <%= render "ad_title_all" %>
              <%= render "ad_category_all" %>
              <%= render "ad_location_all" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "render_posts" %>
