<% provide(:title, "Advertisements") %>

<div class="sticky-top">
    <div class="jumbotron pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="form-inline">
                        <%= form_tag(posts_path, method: "get") do %>

                            <% if params[:category_id] && (params[:ad_title] || params[:location]) %>
                                <%= hidden_field_tag :category_id, params[:category_id] %>
                            <% elsif params[:category_id] %>
                                <%= hidden_field_tag :category_id, params[:category_id][:id] %>
                            <% end %>

                            <% if params[:location].present? %>
                                <%= hidden_field_tag :location, params[:location] %>
                            <% end %>

                            <%= text_field_tag :ad_title, params[:ad_title], placeholder: "Search ad by name" %>
                            <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
                        <% end %>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-inline">
                        <%= form_tag(posts_path, method: "get") do %>

                            <% if params[:location].present? %>
                                <%= hidden_field_tag :location, params[:location] %>
                            <% end %>

                            <% if params[:ad_title].present? %>
                                <%= hidden_field_tag :ad_title, params[:ad_title] %>
                            <% end %>
                            
                            
                            <%= collection_select  :category_id, :id, Category.all, :id, :name, { prompt: "Search ad by category" }, { class: "form-control" } %>
                            <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
                            
                        <% end %>
                    </div>
                </div>


                <div class="col-4">
                    <div class="form-inline">
                        <%= form_tag(posts_path, method: "get") do %>

                            <% if params[:category_id] && (params[:ad_title] || params[:location]) %>
                                <%= hidden_field_tag :category_id, params[:category_id] %>
                            <% elsif params[:category_id] %>
                                <%= hidden_field_tag :category_id, params[:category_id][:id] %>
                            <% end %>

                            <% if params[:ad_title].present? %>
                                <%= hidden_field_tag :ad_title, params[:ad_title] %>
                            <% end %>
                            
                            <%= text_field_tag :location, params[:location], placeholder: "Search ad by location" %>
                            <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>


<% if params[:ad_title]  || params[:category_id] || params[:location]%>
    <div class="jumbotron pt-4 pb-3 mt-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                    <h5>
                        <% if params[:ad_title] %>
                            <label><strong>Ad Title : </strong></label>
                            <span><%= params[:ad_title] %></span>  
                        <% end %>
                    </h5>
                </div>

                <div class="col-4 text-center">
                    <h5>
                        <% if params[:category_id] %>
                            <label><strong>Category : </strong></label>
                            <span><%= @category.name %></span>     
                        <% end %>
                    </h5>
                </div>

                <div class="col-4 text-center">
                    <h5>
                        <% if params[:location] %>
                            <label><strong>Location : </strong></label>
                            <span><%= params[:location] %></span>    
                        <% end %>
                    </h5>
                </div>
            </div>
        </div>
    </div>
<% end %>




<% if params[:category_id] %>
    <% if @category.posts.present? %>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>

<% elsif params[:ad_title] %>
    <% if @post_ad_title.present? %>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>

<% elsif params[:location] %>
    <% if @post_city.present? %>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>

<% elsif params[:ad_title] && params[:location] %>
    <% if @post_ad_title.present? && @post_city.present?%>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>
    
<% elsif params[:ad_title] && params[:location] && params[:category_id] %>
    <% if @post_ad_title.present? && @post_city.present? && @category.posts.present? %>
        <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
        <%= render "layouts/form" %>
    <% else %>
        <h2 class="text-center text-muted mt-5"> No Advertisements</h2>
    <% end %>
<% else %>
    <h2 class="text-center mt-2 mb-4"> Advertisements</h2>
    <%= render "layouts/form" %>                 
<% end %>