<% provide(:title, @post.ad_title) %>

<section class="table-header mb-3">
  <div class="row">
    <div class="col-sm-6 col-md-9" style="left :140px">
      <h1 class="text-center"><%= @post.ad_title.upcase %></h1>
    </div>
    
    <% if admin_user? %>

      <% if @post.approved_by == "null" %>
        <div class="col-xs-12 col-sm-3 md-6">
          <div class="row btn-toolbar" style="display: block">
            <%= link_to 'Approve',  {:controller => "posts",
                                    :action => "approve",
                                    :id => @post.id,
                                    :decision => "true"}, method: 'post', class: "btn btn-lg btn-primary" %>
        
            <%= link_to 'Reject',  {:controller => "posts",
                                  :action => "reject",
                                  :id => @post.id,
                                  :decision => "false"}, method: 'post', class: "btn btn-lg btn-secondary" %>
          </div>
        </div>

      <% elsif @post.approved_by == "rejected" %>
        <div class="col-xs-12 col-sm-3 md-6">
          <div class="row btn-toolbar" style="display: block">
            <%= link_to 'Approve',  {:controller => "posts",
                                    :action => "approve",
                                    :id => @post.id,
                                    :decision => "true"}, method: 'post', class: "btn btn-lg btn-primary" %>
          </div>
        </div>

      <% else %>
        <div class="col-xs-12 col-sm-3 md-6">
          <div class="row btn-toolbar" style="display: block">
            <%= link_to 'Reject',  {:controller => "posts",
                                  :action => "reject",
                                  :id => @post.id,
                                  :decision => "false"}, method: 'post', class: "btn btn-lg btn-secondary" %>
          </div>
        </div>
      <% end %>








    <% elsif @post.approved_by != "null" or @post.approved_by != "rejected" %>
        <% if !logged_in? %>
          <div class="col-xs-6 col-sm-3 md-6">
            <div class="row btn-toolbar" style="display: block">
              <%= link_to 'Write review', new_review_path({ post_id: @post.id }), class: "btn btn-md btn-primary" %>
              <%= link_to 'Buy Product', new_buyer_path({ post_id: @post.id, user_id: @post.user.id }), class: "btn btn-md btn-primary" %>
            </div>
          </div>
        
        <% elsif @post.user_id != current_user.id %>
          <div class="col-xs-12 col-sm-3 md-6">
            <div class="row btn-toolbar" style="display: block">
              <%= link_to 'Write review', new_review_path({ post_id: @post.id }), class: "btn btn-lg btn-primary" %>
            </div>
          </div>

        <% end %>
    <% end %>
   
  </div>
</section>








<section class="container">
  <div class="row justify-content-center"> 
  <% if @post.post_attachments.present? %>
    <% @post_attachments.each do |p| %>
      <div class="col-xs-10 col-sm-3 md-3">
        <%= image_tag (p.photo_url.to_s), :size => "250x250" %>
      </div>
    <% end %>
  <% else %>
  <%= image_tag ("default.png"), :size => "250x250" %>
  <% end %>
  </div>
</section>












<section class="container">            
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 md-6 mt-4">
      <div class="card card-header">
        <div class="post-details-row mb-4">
          <label><strong>Advertisement : </strong></label>
          <span><%= @post.detailed_ad_title %></span>
        </div>

        <div class="post-details-row mb-4">
          <label><strong>Description : </strong></label>
          <span><%= @post.ad_description %></span>
        </div>

        <div class="post-details-row mb-4">
          <label><strong>Advertiser : </strong></label>
          <span><%= @post.user_name %></span>
        </div>

        <div class="post-details-row mb-4">
          <label><strong>Contact : </strong></label>
          <span><%= @post.phone %></span>
        </div>

        <div class="post-details-row">
          <label><strong>Location : </strong></label>
          <span><%= @post.city %></span>
        </div>
      </div>
    </div>
  </div>
</section>










<section class="container">            
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-9">
      <h1 class="text-center">Reviews</h1>
    </div>
  </div>

  <% no_review_message = false %>

  <div class = "row justify-content-center">
    <% @reviews.each do |r| %>
      
      <% if admin_user? %>
        <% if r.approved_by == "null" %>
         
          <div class="col-xs-12 col-sm-9 ">
            <div class="card card-body justify-content-flex-center">
              <div class="row">
                <div class="col-sm-7">
                  <div class="post-details-row mb-2">
                    <label><strong>Name : </strong></label>
                    <span><%= r.name %></span>
                  </div>

                  <div class="post-details-row">
                    <label><strong>Review : </strong></label>
                    <span><%= r.review %></span>
                  </div>
                </div>


                <div class="col-sm-3 mt-3">
                  <div class="rating" id="star_rating">
                    <% if r.rating == "1" %>
                      <%= render "1_rating" %>
                    <% elsif r.rating == "2" %>
                      <%= render "2_rating" %>
                    <% elsif r.rating == "3" %>
                      <%= render "3_rating" %>
                    <% elsif r.rating == "4" %>
                      <%= render "4_rating" %>
                    <% elsif r.rating == "5" %>
                      <%= render "5_rating" %>
                    <% end %>
                  </div>
                </div>

                <div class="col-sm-2 mt-3">
                  <div class="post-details-row">
                    <%= link_to 'Approve',  {:controller => "posts",
                                            :action => "rapprove",
                                            :id => r.id,
                                            :decision => "true"}, method: 'post', 
                                            class: "btn btn-md btn-primary",
                                            data: { disable_with: "Approving..."  } %>

                  </div>
                </div>
              </div>
            </div>
          </div>

        
          

        <% else %>

          <div class="col-xs-12 col-sm-9 ">
            <div class="card card-body justify-content-flex-center">
              <div class="row">
                <div class="col-sm-7">
                  <div class="post-details-row mb-2">
                    <label><strong>Name : </strong></label>
                    <span><%= r.name %></span>
                  </div>

                  <div class="post-details-row">
                    <label><strong>Review : </strong></label>
                    <span><%= r.review %></span>
                  </div>
                </div>

                <div class="col-sm-3 mt-3">
                  <div class="rating" id="star_rating">
                    <% if r.rating == "1" %>
                      <%= render "1_rating" %>
                    <% elsif r.rating == "2" %>
                      <%= render "2_rating" %>
                    <% elsif r.rating == "3" %>
                      <%= render "3_rating" %>
                    <% elsif r.rating == "4" %>
                      <%= render "4_rating" %>
                    <% elsif r.rating == "5" %>
                      <%= render "5_rating" %>
                    <% end %>
                  </div>
                </div>


                <div class="col-sm-2 mt-3">
                  <div class="post-details-row">
                    <button type="button" class="btn btn-md btn-primary" disabled>Approved</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% end %>

        <% no_review_message = true %>
        

      <% else %>
        <% if r.approved_by != "null" %>

          <div class="col-xs-12 col-sm-9 ">
            <div class="card card-body justify-content-flex-center">
              <div class="row">
                <div class="col-sm-9">
                  <div class="post-details-row mb-2">
                    <label><strong>Name : </strong></label>
                    <span><%= r.name %></span>
                  </div>

                  <div class="post-details-row">
                    <label><strong>Review : </strong></label>
                    <span><%= r.review %></span>
                  </div>
                </div>

                <div class="col-sm-3 mt-3">
                  <div class="rating" id="star_rating">
                    <% if r.rating == "1" %>
                      <%= render "1_rating" %>
                    <% elsif r.rating == "2" %>
                      <%= render "2_rating" %>
                    <% elsif r.rating == "3" %>
                      <%= render "3_rating" %>
                    <% elsif r.rating == "4" %>
                      <%= render "4_rating" %>
                    <% elsif r.rating == "5" %>
                      <%= render "5_rating" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% no_review_message = true %>
  
        <% end %>
      <% end %>
    <% end %>
  




    <% if no_review_message == false %>
      <div class="col-xs-12 col-sm-12 ">
        <% if admin_user? %>

          <% if @post.approved_by == "null" %>
            <h2 class="text-center text-muted mt-2"> Reviews can be given by users once this post will be approved</h2>
          <% elsif @post.approved_by == "rejected" %>
            <h2 class="text-center text-muted mt-2"> This post is currently rejected</h2>
          <% else %>
            <h2 class="text-center text-muted mt-2"> No reviews on this post</h2>
          <% end %>

        <% else %>

          <% if @post.approved_by == "null" %>
            <h2 class="text-center text-muted mt-2"> Reviews can be given after this post will be approved by Admin</h2>
          <% elsif @post.approved_by == "rejected" %>
            <h2 class="text-center text-muted mt-2"> Rejected Post cannot have reviews </h2>
          <% else %>
            <h2 class="text-center text-muted mt-2"> No reviews on this post</h2>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
</section>

 
        



