<div class="col-sm-12 col-md-8 col-lg-7 col-xl-6">
  <div class="card">
    <div class="card-body">
      <%= form_for @buyer, html: { multipart: true } do |f| %>
        <%= render "shared/error_messages", object: @buyer %>
        <div class="form-group">
          <%= f.label :buyer_name , "Name:" %>
          <%= f.text_field :buyer_name, class: "form-control", autofocus: true, required: true, autocomplete: :off, placeholder: "Your name", title: "Enter your Name", maxlength: 30, minlength: 2 %>
        </div>
        <div class="form-group">
          <% if logged_in? %>
            <%= f.hidden_field :email, value: current_user.email %>
          <% elsif params[:post_id].present? %>
            <%= f.label :email , "Email id:" %>
            <%= f.email_field :email, class: "form-control", autofocus: true, required: true, autocomplete: :off, placeholder: "Your email id", title: "Enter your email id", maxlength: 80, minlength: 5 %>
          <% else %>
            <%= f.label :email , "Email id:" %>
            <%= f.email_field :email, class: "form-control", readonly: true %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :location , "Location:" %>
          <%= f.text_field :location, class: "form-control", autofocus: true, required: true, autocomplete: :off, placeholder: "Your address", title: "Enter your location", maxlength: 30, minlength: 2 %>
        </div>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class="form-row">
          <div class="col-xs-12 order-2 order-sm-1 col-sm-3">
            <% if !@buyer.new_record? %>
              <%= link_to "Delete", buyer_path(@buyer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", title: "Delete this post?" %>
            <% end %>
          </div>
          <div class="col-xs-12 text-right order-1 order-sm-2 col-sm-9">
            <%= link_to "Cancel", post_path(@post), class: "btn btn-light btn-xs-block", title: "Cancel" %>
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-xs-block", title: "Submit buying request", data: { disable_with: "Submitting..." } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

