<% provide(:title, "Buyers") %>

<section class="table-header mb-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Buyers List</h3>
    </div>
  </div>
</section>

<table class="table table-hover" width="100%">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= link_to buyer.id, buyer_path(buyer) %></td>
        <td><%= buyer.buyer_name %></td>
        <td><%= buyer.location %></td>
        <td><%= buyer.email %></td>
        <td><%= link_to 'Sell Product', sell_path, class: "btn btn-md btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>

  <tbody>
    
  </tbody>
</table>