<nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
  <% if logged_in? %>
    <% if admin_user? %>
      <%= link_to "Admin Homepage", users_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to "#{ current_user.name }'s Homepage", user_path(current_user), class: "navbar-brand" %>
    <% end %>
  <% else %>
    <%= link_to "Online Marketplace App", root_path, class: "navbar-brand ml-15" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
        <% if admin_user? %>
          <li class="nav-item active">
            <%= link_to "Approved Posts", admin_approved_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Unchecked Posts", admin_unchecked_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Rejected posts", admin_rejected_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Categories", admin_categories_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item active pl-10">
            <%= render "notifications/notification_center", notifications: notification_view %>
          </li>
          <li class="nav-item dropdown nav-item active">
            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Advertisements
            </a>
            <div class="dropdown-menu" aria-labelledby="adminDropdown">
              <%= link_to "All Advertisements", posts_path, class: "dropdown-item" %>
              <%= link_to "My Advertisements", posts_path( { user_id: current_user.id, decision: "true" } ), class: "dropdown-item" %>
              <%= link_to "Other Advertisements", posts_path( { user_id: current_user.id, decision: "false" } ), class: "dropdown-item" %>
            </div> 
          </li>
          <li class="nav-item dropdown nav-item active">
            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Options
            </a>
            <div class="dropdown-menu" aria-labelledby="adminDropdown">
              <%= link_to "Edit credentials", edit_user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Unchecked posts", unchecked_path, class: "dropdown-item" %>
              <%= link_to "Rejected posts", rejected_path, class: "dropdown-item" %>
              <%= link_to "Products Sold", sold_path, class: "dropdown-item" %>
              <%= link_to "Products Bought", bought_path, class: "dropdown-item" %>
              <%= link_to "Log Out", logout_path, method: :delete, class: "dropdown-item" %>
            </div> 
          </li>
          <li class="nav-item active">
            <%= link_to "Create Post", new_post_path, class: "nav-link" %>
          </li>
          
        <% end %>
      <% else %>
        <% if controller_name != "posts" %>
          <li class="nav-item active">
            <%= link_to "Advertisements", posts_path, class: "nav-link" %>
          </li>
        <% end %>
        <% if controller_name == "posts" %>
          <li class="nav-item active">
            <%= link_to "All Advertisements", posts_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item active">
          <%= link_to "Log In", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign Up", signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>